.componente-pdf{
    width: 90%;
    min-height: 650px;
    margin: 40px auto;
    padding: 40px;
    box-sizing: border-box;
    border: 2px solid #0ea5e9;;
    border-radius: 20px;
    background: linear-gradient(135deg, #e0f2fe, #f0f9ff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table{
    width: 25%;
    border-spacing: 5px;
    border: 2px solid #333;
    margin: auto;
    box-shadow: 1px 1px 20px #222;
    min-width: 900px;
    background-color: #0ea5e9;
    border-radius: 6px;
}

td, th{
    border: 2px solid #333;
    text-align: center;
    padding: 5px;
    width: 100px;
    background: linear-gradient(135deg, #e0f2fe, #f0f9ff);
}

button{
    margin: 10px;
    padding: 5px;
}